.container {
  border: 3px solid #000;
  padding: 10px;
  color: #FFF;
}

.container > * {
  padding: 5px;
  margin-top: 5px;
}

header {
  background-color: yellowgreen;
  font-size: 35px;
  /* padding: 5px; */
}

nav {
  background-color: saddlebrown;
  /* padding: 5px; */
  /* margin-top: 5px; */
}

.inner {
  border: 3px solid skyblue;
  padding: 10px;
  display: flex;
  /* margin-top: 5px; */
}

aside {
  background-color: rgb(192, 137, 64);
  padding: 10px;
}
section {
  background-color: orange;
}
.card-lst {
  background-color: lightcyan;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 5px;
}
.card {
  width: 100%;
  background-color: pink;
  padding: 10px;
}

article {
  background-color: darkblue;
  /* padding: 5px; */
  /* margin-top: 5px; */
}

footer {
  background-color: orangered;
  /* padding: 5px; */
  /* margin-top: 5px; */
}
